*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ticker*/
.ticker {

  height: 30px;
  overflow: hidden;
  background-color: #fff6d6;
  color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.ticker-container {
  position: relative;
  height: 40px;
}

.ticker-item {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: ticker 10s linear infinite;
}


.ticker-item:nth-child(1) { animation-delay: 0s; }
.ticker-item:nth-child(2) { animation-delay: 2s; }
.ticker-item:nth-child(3) { animation-delay: 4s; }
.ticker-item:nth-child(4) { animation-delay: 6s; }
.ticker-item:nth-child(5) { animation-delay: 8s; }

@keyframes ticker {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  20%  { opacity: 0; }
  100% { opacity: 0; }
}


.scroll{
  display:flex;
  overflow-x:auto;
  scrollbar-width: none;

}
.scroll a{
  text-decoration: none;
}
 
  .new-arrivals {
     flex:0 0 auto;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 5px;
}


  .new-arrivals img {
    width: 290px;
    height: 100%;
    object-fit: cover;
    margin: 5px;
  }

.new-arrivals img {
  transition: transform 0.3s ease;
}
.new-arrivals img:hover {
  transform: scale(1.05);
}

.cat{
  margin:10px;
  display: inline-block;
}
.cat img{
 
  width: 150px;
  height: 100%;
  object-fit: cover;

}

