* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: url('https://images.pexels.com/photos/18978259/pexels-photo-18978259.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.login-overlay {
  height: 100vh;
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
    opacity:0.8;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #222;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.input-group input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-submit {
  background-color: #222;
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #000;
}

.register-link {
  margin-top: 20px;
  text-align: center;
  font-size: 0.95rem;
}

.register-link a {
  color: #222;
  text-decoration: underline;
}
